<!-- START WITH TITLE, CLOSE HEAD, OPEN BODY -->
<%- include('partials/header') -%>

<title>EduLink · Courses</title>
</head>
<body>
  <div>
    <main>
        <!--Header And Title-->
        <section id="header">
            <div class="container-fluid nav-container">
                <nav class="navbar navbar-expand-md navbar-light ">
                    <!-------BRAND-------->
                    <a class="navbar-brand" href="/"><span class="edu"><strong>Edu</strong></span>Link</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                    </button>
                    <!---------NAV ITEMS------------>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-itme">
                                <a class="nav-link underline" href="/">Home</a>
                            </li>
                            <li class="nav-itme">
                                <a class="nav-link underline" href="/courses">Courses</a>
                            </li>
                            <li class="nav-itme">
                                <a class="nav-link underline" href="#">About</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item"><a  class="nav-link btn-hidden"><button class="btn btn-md sing-up">Sign up</button></a></li>
                            <li class="nav-item"><a  class="nav-link btn-hidden"> <button class="btn  btn-md btn-color btn-danger" type="button">Log in</button></a></li> 
                        </ul>
                        
                    </div>
                </nav>
            </div>
            <div class="colored-section">
              <div class="container-fluid">
                  <h2 class="section-heading">Our Courses</h2>
               </div>   
            </div>
          </section>

          <section id="courses">
            <div class="container-fluid">
              <% subjects.forEach((subject, index) => { %>
                <% if (index % 3 === 0) { %>
                  <div class="row">
                <% } %>
                <div class="col-lg-4 course">
                  <div class="card">
                    <img class="card-img-top" src="<%= //subject.image %>/images/Physics.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: left;"><%= subject.name %></h5>
                      <p class="card-text" style="text-align: left"><%=(subject.description).substring(0,150) + '...'%></p>
                      <div class="row">
                        <div class="col-md-6">
                          <p><img src="images/chapter.png" alt="chapter-icon" height="25px" class="icon"> Chapters: <%=subject.chapters.length%></p>
                        </div>
                        <div class="col-md-6">
                          <p><img src="images/book.png" alt="lesson-icon" height="25px" class="icon"> Lessons: ###</p>
                        </div>
                      </div>
                      <div>
                        <a href="/courses/<%=subject.slug%>"><button class="btn btn-danger btn-color btn-lg download-button">Go to Course</button></a>
                      </div>
                    </div>
                  </div>
                </div>
                <% if ((index + 1) % 3 === 0 || index === subjects.length - 1) { %>
                  </div>
                <% } %>
              <% }) %>
            </div>
          </section>   
  <!------------------Footer----------------------->

<!-- DON't USE CLOSING BODY!!! -->
<%- include('partials/footer') -%>